:root {
  --text-color: rgb(31, 215, 96);
  --green: #39ff14;
  --glass-bg: rgba(0, 0, 0, 0.65);
  --glass-border: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #141414;
}

.focim_zold {
  color: var(--green);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0.938rem 1.875rem;
  display: flex;
  justify-content: space-between;
  height: 5.313rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-buttons {
  display: flex;
  gap: 0.938rem;
}

.header-btn,
.signup-banner button {
  border: none;
  background-color: #39ff14;
  color: #000;
  margin-top: 6px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.875rem;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0.938rem #39ff14;
}

.header-btn {
  padding: 1rem 2rem;
}

.signup-banner button {
  padding: 0.938rem 2.188rem;
  font-size: 1rem;
}

.header-btn:hover,
.signup-banner button:hover {
  transform: scale(1.05);
}

.admin_panel {
  border: none;
  background-color: #39ff14;
  color: #000;
  margin-top: 6px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.875rem;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0.938rem #39ff14;
  text-decoration: none;
  font-size: 15px;
}

.admin_panel {
  padding: 0.850rem 1.25rem;
}

.admin_panel:hover {
  transform: scale(1.05);
}

.signup-banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
}

.signup-banner p {
  font-size: 1.375rem;
  margin-bottom: 1.563rem;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.register {
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0.938rem 1.25rem 2.5rem;
    gap: 0.5rem;
    height: 150px;
  }

  .logo {
    font-size: 1.5rem;
    text-align: center;
  }

  .header-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 0.313rem;
  }

  .header-btn, .admin_panel {
    padding: 0.75rem 1.875rem;
    text-align: center;
    font-size: 0.938rem;
    width: 90%;
    max-width: 15.625rem;
  }
}


.fooldalresz {
  margin-top: 100px;
  margin-left: 1rem;
}



/* --------------------------------------------- */

.cards{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:#181818;
  padding:15px;
  border-radius:10px;
  transition:background .3s;
  cursor:pointer;
  width:200px;
}

.card:hover{
  background:#242424;
}

.cover{
  position:relative;
}

.cover img{
  width:100%;
  border-radius:8px;
}

.play{
  position:absolute;
  bottom:10px;
  right:10px;
  width:45px;
  height:45px;
  border:none;
  border-radius:50%;
  background:#1DB954;
  color:white;
  font-size:18px;
  opacity:0;
  transform:translateY(10px);
  transition:.3s;
}

.card:hover .play{
  opacity:1;
  transform:translateY(0);
}

h3{
  margin:10px 0 5px;
  font-size:16px;
}

p{
  margin:0;
  color:#b3b3b3;
  font-size:14px;
}

/* Tablet */
@media (max-width:900px){
  .card{
    width:45%;
  }
  .fooldalresz {
    margin-top: 200px;
  }
}

/* Mobil */
@media (max-width:500px){
  .card{
    width:100%;
  }
  .fooldalresz {
    margin-top: 200px;
  }
}